##
## directory
##
.bin
.tmp
.out
.log
.logs
.build
.cache
.target
.svelte-kit
.node_modules
.zig-cache
.zig-out
.zig-pkg

bin
tmp
out
log
logs
build
cache
target
svelte-kit
node_modules
zig-cache
zig-out
zig-pkg

## proj.
/public

##
## extension
##
*.bak*
*.zip

*perf.*
*Zone.Identifier

!/rnd/perf-example-http_basic-perf.md

##
## file: include
##
common_check.*

##
## file: exclude
##
